*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ecf0f1;
}
.mainMenue{
    display:flex;
    background-color: rgb(32, 32, 33);
}

.mainMenue li{
    list-style: none;
}
.mainMenue li a{
    text-decoration: none;
    display: block;
    padding: 15px 15px;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    transition: 0.5s;
}
.mainMenue li a:hover{
    background: orange;
    color:white;
    border-radius: 6px;
}
.logo{
    margin-right: auto;
}
 img{
    width: 80%;
    display: block;
    margin: auto;
}
footer{
    background-color: #2c3e50;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 50px;
    color:orange;
}